@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;600;700;800 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@400;500;600;700;800&display=swap');

/*font-family: 'Permanent Marker', cursive;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav,
    .offcanvas {
      background-color: #1e293b;
    }
    .navbar-toggler {
      border: none;
    }
    .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }
    
nav{
        position: fixed;
        width: 100%;
        padding: 10px 0;
        z-index: 12;
    }

h1{
    color: #e67103;
    font-family: 'Permanent Marker', cursive;
}

    .offcanvas-body ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        padding: 8px 15px;
        border-radius: 5px;
        transition: all 0.3% ease;
    }


    .offcanvas-body ul{
        display: inline-flex;
    }
    
    .offcanvas-body ul li{
        list-style: none;
        margin-left: 7px;
    }
    
    .offcanvas-body ul li:first-child{
        margin-left: 0px;
    }


    @media (max-width: 768px) {
        .navbar-nav > li:hover {
          background-color: #0dcaf0;
        }

    }

    #imagen{
        height: 65px;
    }    

    #imagen2{
        height: 50px;
    }

body {
        font-family: 'Poppins', sans-serif;
        background-color: #f5f5f5;
        background: #e7e0d5;
}    

.img{
    background: url(img/pizza-fondo1.jpg)no-repeat;
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;   
}

.header-txt{
    font-size: 20px;
    color: #e7e0d5;
    height: 30%;
    width: 50%;
    display: inline-block;
    margin: 70px;
    z-index: 2;
}

#trescolumnas{
    display:flex;
    justify-content: space-between;
    width: 60%;
}

.services-1{
    text-align: center;
    background-color: #fff;
    padding: 60px 35px;
    margin: 100px 10px;
    height: 250px;
}

.info {
    padding: 50px 0;
    display: flex;
}

.info-1 {
    font-size: 20px;
    height: 30%;
    width: 50%;
    display: inline-block;
    z-index: 2;

}
.info-1 img {
    width: 450px;
}
.info-2 {
    width: 50%;
}

h2 { 
    font-size: 70px;
    letter-spacing: 5px;
    font-family: 'Permanent Marker', cursive;
    color: #e67103;
}

.btn-1 {
    display: inline-block;
    color: #f5efeb;
    padding: 13px 30px;
    background-color: #e67103;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    font-size: 30px;
}


footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e9b60d;
}

#sociales{
    display: flex;
    align-items: center;
}

a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

.link h3 {
    color: #34077c;
    font-size: 18px;
    margin-bottom: 15px;
}
.link a {
    display: block;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}
.link a:hover,.letras a:hover {
    color: #e9b60d;
}

@media (max-width: 768px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #imagen{
        height: 40px;
    } 

    #imagen2{
        height: 40px;
    } 
    .header-txt{
        font-size: 15px;
        color: #e7e0d5;
        height: 15%;
        width: 60%;
        display: inline-block;
        margin: 40px;
        z-index: 2;
    }

    h1{
        color: #e67103;
        font-family: 'Permanent Marker', cursive;
    }

    #trescolumnas{
        display: flex;
        width: 100%;
        font-size: 13px;
    }

    .services-1{
        text-align: center;
        background-color: #fff;
        padding: 20px 10px;
        margin: 20px 5px;
        height: 180px;
    }

    h3{
        font-size: 14px;
    }

    h2 { 
        font-size: 30px;
        letter-spacing: 5px;
        font-family: 'Permanent Marker', cursive;
        color: #e67103;
    }

    .parrafo{
        font-size: 20px;
        height: 30vh;
        width: 40vh;
        display: inline-block;
        z-index: 2;
    }

.info{
    display: block;
}

    .info-1 {
        font-size: 15px;
        padding: 0%;
        margin: 9vh;
    }

    .info-1 img {
        width: 40vh;
        height: 300px;
        padding: 0;
        margin: 0px auto;
    }

    .btn-1 {
        display: inline-block;
        color: #f5efeb;
        padding: 13px 30px;
        background-color: #e67103;
        border-radius: 25px;
        text-transform: uppercase;
        font-weight: 600;
        border: 0;
        cursor: pointer;
        margin: 3vh;
    }

    h5 { 
        font-size: 50px;
        letter-spacing: 5px;
        font-family: 'Permanent Marker', cursive;
        color: #e67103;
    }

    .pizza {
        padding: 30px;
    }
    .pizza-content{
        margin-top: 15px;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .pizza-1{
        background-color: #ffffff;
        height: 430px;
        width: 250px;
    }
}
